html {
  /* @apply px-10; */
  background-color: var(--color-mal-neutral);
  scroll-behavior: smooth;
}

body {
  /* @apply mt-10; */
}

strong {
  color: var(--color-mal-primary);
  font-weight: normal;
}