/* Preload se hace en el <head> del layout o index */
@layer base {
  /* Serif para títulos */
  @font-face {
    font-family: "Literata";
    src: url("/src/assets/fonts/Literata-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Literata";
    src: url("/src/assets/fonts/Literata-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Literata";
    src: url("/src/assets/fonts/Literata-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Literata";
    src: url("/src/assets/fonts/Literata-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Literata";
    src: url("/src/assets/fonts/Literata-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Sans-serif para cuerpo */
  @font-face {
    font-family: "Inter";
    src: url("/src/assets/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/src/assets/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Zodiak";
    src: url("/src/assets/fonts/Zodiak-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Zodiak";
    src: url("/src/assets/fonts/Zodiak-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Telma-Regular";
    src: url("/src/assets/fonts/Telma-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Telma-Variable";
    src: url("/src/assets/fonts/Telma-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Telma";
    src: url("/src/assets/fonts/Telma-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Telma";
    src: url("/src/assets/fonts/Telma-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Telma";
    src: url("/src/assets/fonts/Telma-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Telma";
    src: url("/src/assets/fonts/Telma-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Grotesk";
    src: url("/src/assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Grotesk";
    src: url("/src/assets/fonts/SpaceGrotesk-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Grotesk";
    src: url("/src/assets/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Grotesk";
    src: url("/src/assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Grotesk";
    src: url("/src/assets/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Gaegu";
    src: url("/src/assets/fonts/Gaegu-Bold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gaegu";
    src: url("/src/assets/fonts/Gaegu-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gaegu";
    src: url("/src/assets/fonts/Gaegu-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "DoubleBass";
    src: url("/src/assets/fonts/DoubleBass-Regular-trial.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "DoubleBass";
    src: url("/src/assets/fonts/DoubleBass-Bold-trial.woff2") format("woff2");
    font-weight: 500;
    font-style: bold;
    font-display: swap;
  }

  @font-face {
    font-family: "DoubleBass";
    src: url("/src/assets/fonts/DoubleBass-Light-trial.woff2") format("woff2");
    font-weight: 300;
    font-style: light;
    font-display: swap;
  }
  @font-face {
    font-family: "DoubleBass";
    src: url("/src/assets/fonts/DoubleBass-Thin-trial.woff2") format("woff2");
    font-weight: 100;
    font-style: thin;
    font-display: swap;
  }
}
