/* dark mode */
[data-theme="dark"] {
  --color-brand-50: #111111;
  --color-brand-500: #e5e5e5;
  --color-brand-900: #f5f5f5;
  --color-accent-500: #FF4B4B;
}

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --main-bg: #FEFFF0;
  --color-accent-500: #C1121F;
  --color-brand-50: #f5f5f5;
  --color-brand-500: #404040;
  --color-brand-900: #111111;

  --color-accent-500: #C1121F;

	--blue: #BAE6FF;
	--yellow: #FFDC58;

  --radius-lg: 12px;
}