/* dark mode */
[data-theme="dark"] {
  --color-brand-50: #111111;
  --color-brand-500: #e5e5e5;
  --color-brand-900: #f5f5f5;
  --color-accent-500: #ff4b4b;

  body {
    @apply bg-neutral-900 text-neutral-50;
  }
}

@theme {
  --color-mal-primary: #FF2E93;
  --color-mal-secondary: #2A0E3F;
  --color-mal-accent: #FF6B4A;
  --color-mal-tertiary: #1F3D2B;

  --color-mal-neutral: #E5E7EB;
  --color-mal-dark-neutral: #111827;

  --color-mal-font: #111827;
  --color-mal-font-paragraph: #1F2937;
  --color-mal-font-secondary: #6B7280;

  --radius-lg: 12px;

  --font-zodiak: "Zodiak", "sans-serif";
  --font-telma: "Telma-Variable", "sans-serif";
  --font-grotesk: "Grotesk", "sans-serif";
  --font-literata: "Literata", "serif";
  --font-gaegu: "Gaegu", "serif";
  --font-doublebass: "DoubleBass", "serif";
}
